body {
    font-family: sans-serif;
}
header {
    font-size:36px;
    color: black;
    background-color: #0776A0;
    padding:20px;
    border:20px;
    }

    header img {
     height:30px;
        


        font 
            background-color:#FFB608;
            border-radius:21px;
            padding:6px;
            }




